@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
    font-family: var(--font-dm-serif);
  }

  body {
    @apply font-sans;
    font-family: var(--font-dm-sans);
  }
}

:root {
  --background: #F7F5F0;
  --foreground: #1A1A2E;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .prose-sans {
    font-family: var(--font-dm-sans);
  }

  .prose-serif {
    font-family: var(--font-dm-serif);
  }
}
